<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="D:/RestAssured_NAGP/RestAssured_NAGP">
        <classes>
            <class name="api_testcases.Test_flow1">
            </class>
            <class name="api_testcases.Test_flow2">
            </class>
            <class name="api_testcases.Test_flow3">
            </class>
            <class name="api_testcases.Test_flow4">
            </class>
            <class name="api_testcases.Test_flow5">
            </class>
        </classes>
    </test>
</suite>